.App{
  padding-top: 50px;
}

.card {
  border: 1px solid #007bff !important;
}

.repo-card {
  margin-top: 30px;
}

.card-body {
  text-align: center;
}

img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 5px #e9ecef;
}

.user-card {
  margin-bottom: 10px;
  text-align: center;
}

.user-name {
  font-size: 18px;
  font-style: italic;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.repo-desc {
  font-size: 12px;
  color: #6c757d;
  height: 60px;
  line-height: 20px;
  overflow: hidden;
}

a{
  border: 1px solid #17a2b854;
}

.user-card:hover .card-footer {
  background: #007bff66;
  cursor: pointer;
}